* {
	font-family: Verdana;
}

html {
	background-image: url(../img/skin/darkmaxi/header.png);
	background-color: #110813;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	color: #f2f2f2;
	font-size: 12px;
}
